---
---

@import "minima";

blockquote {
  color: $grey-color;
  border-left: 4px solid #6495ED;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: normal;

  > :last-child {
    margin-bottom: 0;
  }
}